*{
    font-family: 'Quicksand', sans-serif;
}

.leaderboardContainer {
    border: 2px solid orange;
    display: block;
}

.leaderboard-banner{
    color: white;
    display: block;
    text-align: center;
    padding: 40px;
}

.chart-container {
    display: flex;
    margin: auto;
    justify-content: center;
}

.chart {
    display: block;
    height: fit-content;
    width: 700px;
    font-size: 32px;
    margin: 40px;
    color: rgb(26, 19, 19);
    background-color: grey;
}

.leaderboardOptions {
    display: block;
    margin: auto;
}

.score-row {
    padding: 20px;
    display: flex;
    margin: auto;
}

.red-row {
  background-color: rgba(189, 13, 13, 0.623);
  /* opacity: .5; */
}

.score-row p {
    width: 300px;
    margin: auto;
}


.leaderboardOptions{
    width: 200px;
    margin: 20px;
    height: fit-content;
    align-self: center;
}

.leaderboardOptions ul {
    display: block;
    width: 200px;
}

.leaderboardOptions a {
    border-bottom: 2px solid white;
}

