*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-image: linear-gradient(rgb(53, 36, 36), white); */
  /* background-image: url(./images/backgrounds/back-wood.jpg); */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-size: contain;
}

.App {
  font-family: 'Quicksand', sans-serif;
  /* background-image: url(./images/backgrounds/back-wood.jpg); */
  /* background-image: linear-gradient(rgb(53, 36, 36), white); */
  /* background-color: #cccccc; Used if the image is unavailable */
  /* background-position: center; Center the image */
  /* background-size: cover; */
}

.center {
  background-color: white;
  width: 800px;
  height:860px;
  margin: auto;
}

h1{
  text-align: center;
  font-weight: bold;
  font-size: 64px;
}

nav{
  display: block;
}

ul{
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
