*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

.App {
  font-family: 'Quicksand', sans-serif;
  background-image: url(./images/backgrounds/back-wood.jpg);
  background-position: center; 
  background-size: cover;
  padding: 80px;
  height: 100%;
}

.center {
  background-color: white;
  width: 900px;
  height:960px;
  margin: auto;
  overflow: auto;
}

h1{
  text-align: center;
  font-weight: bold;
  font-size: 64px;
  padding: 40px;
}

nav{
  display: block;
}

ul{
  list-style-type: none;
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
}

a{
  text-decoration: none;
  font-size: 32px; 
  line-height: 2;
}

.hidden {
  /* background-color: blue; */
  font-size: 0px;
  height: 0px;
}

.show {
  background-color: green;
}